@page
@using CinemaTicketSystem.Models;
@model CinemaTicketSystem.Pages.Reservations.IndexModel
@inject SignInManager<ApplicationUser> signInManager
@{
    ViewData["Title"] = "Index";
}

@if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Employee")))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Username email
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reservation[0].Projection)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Reservation)
            {
                <tr>


                            <td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                            </td>
                            <td>
                        @Html.DisplayFor(modelItem => item.Projection.ProjectionId)
                            </td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.ReservationId">Edit</a> |
                                <a asp-page="./Delete" asp-route-id="@item.ReservationId">Delete</a>
                            </td>


                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>You do not have access rights to this page!</h1>
}
